	@font-face {
		font-family: 'noon';
		src: url('Noon-Regular.ttf');
		font-weight: normal;
	}
    
    
body{
    margin: 0;
    font-size: 2.5vw;
    direction: rtl;
    text-align: center;
    font-family: noon;
    background: #444;
    display: flex;
    padding: 20px 15vw;
    min-height: 100vh;
    flex-direction:column;
    overflow: auto;
}

section{
    
     
    border:35px solid RGBA(147, 147, 147, 0.4);
    border-radius:15px;
    padding:50px 5vw;
    background:#fff;
    flex:1 1 auto;
    box-shadow:0px 0px 10px #444 inset;
    
}

.sura-name{
    color:red;
        line-height:1;
            padding:0px;
            font-size:19px;
    margin:0px;
}

.basmala{
    font-size:5vw;
    //line-height:1;
    padding:0px;
    margin:0px;
}

#Lists{
  padding:20px;   
  line-height:1.3;
}
#Lists a{
    display:inline-block;
    margin:5px 5px;
    text-decoration:none;
        font-family: noon;
        font-size:20px;
        color:#483A34;
}

#Lists a:hover{
  color:#1498E0;   
     text-decoration:underline;
}


.allert{
    border:1px solid red;
    background:#fff;
    
    width:80%;
    margin:20px 10%;
    right:0;
    top:0;
    padding:10px;
    font-size:14px;
    font-family:tahoma;
}