	@font-face {
	    font-family: 'noon';
	    src: url('Noon-Regular.ttf');
	    font-weight: normal;
	}
	
	body {
	    margin: 0;
	    direction: rtl;
	    background: #444;
	    min-height: 100vh;
	    display: flex;
	    font-family: noon;
	    font-size: 20px;
	}
	
	#index {
	    min-width: 700px;
	}
	
	a {
	    text-decoration: none;
	    color: #50b4f3;
	}
	
	.wrapper {
	    text-align: center;
	    min-height: 100%;
	    display: flex;
	    width: 70%;
	    margin: 50px auto;
	    flex-direction: column;
	    border: 2.5vw solid rgb(216, 216, 216);
	    border-radius: 15px;
	    position: relative;
	    background-color: #fff;
	}
	
	#soureh {
	    padding: 50px 6vw;
	    flex: 1 1 auto;
	    box-shadow: 0px 0px 10px #444 inset;
	}
	
	#soureh .sura-name {
	    color: #fff;
	    padding: 0px;
	    font-size: 30px;
	    margin: 0px;
	    z-index: 2;
	    position: relative;
	    background-color: rgb(44, 170, 180);
	    border-radius: 25px;
	    border: 1px solid #fff;
	    overflow: hidden;
	    box-shadow: 2px 2px 5px RGB(102, 102, 102);
	}
	
	#soureh .basmala {
	    font-size: 4vw;
	    z-index: 2;
	    position: relative;
	    color: rgb(19, 80, 101);
	    text-shadow: 2px 2px 3px rgb(147, 144, 144);
	    padding: 0px;
	    margin: 40px 0px;
	}
	
	#soureh .ayat-continner {
	    display: block;
	    z-index: 2;
	    position: relative;
	    color: #434343;
	}
	
	#soureh .ayat-continner span {
	    font-size: 4vw;
		line-height:2;
	}
	
	#intro {
	    background: #3D3D3D;
	    background-image: url('bg.png');
	    background-repeat: repeat-x;
	    background-position: center -50px;
	    flex: 1;
	}
	
	.intro-box {
	    background-image: url('sun.png');
	    background-repeat: no-repeat;
	    background-position: center 87px;
	    display: block;
	}
	
	.intro-besm {
	    display: block;
	    text-align: center;
	    padding: 0px 0;
	    font-family: noon;
	    font-size: 60px;
	    color: rgb(42, 122, 167);
	    text-shadow: 1px 1px 0px #444;
	    margin-top: 80px;
	}
	
	.intro-noon {
	    display: block;
	    text-align: center;
	    padding: 0px 0;
	    margin-top: 100px;
	    font-family: noon;
	    font-size: 360px;
	    line-height: 1;
	    color: #fff;
	    text-shadow: 1px 1px 0px #444;
	}
	
	.intro-desc {
	    display: block;
	    text-align: center;
	    padding: 0px 0;
	    line-height: 1;
	    margin-top: 90px;
	    font-family: noon;
	    font-size: 60px;
	    color: #fff;
	    text-shadow: 1px 1px 0px #444;
	}
	
	.intro-desc2 {
	    display: block;
	    text-align: center;
	    padding: 0px 0;
	    margin-top: 20px;
	    font-family: noon;
	    font-size: 55px;
	    margin-bottom: 60px;
	    color: #fff;
	    text-shadow: 1px 1px 0px #444;
	}
	
	.quran {
	    background: #fff;
	}
	
	.quran p {
	    padding: 50px 20%;
	}
	
	.quran .ayat {
	    margin: 0 10vw;
	    text-align: center;
	    padding: 10px;
	}
	
	.sectionBlock h2,
	.section h2 {
	    display: block;
	    text-align: center;
	    font-family: LalezarWeb;
	    font-size: 40px;
	}
	
	.story {
	    display: block;
	    background-color: rgb(243, 243, 243);
	    padding: 50px 20% 100px;
	}
	
	.ayat a {
	    display: inline-block;
	    width: 150px;
	    height: 100px;
	    text-align: center;
	    margin: 5px 15px;
	    text-decoration: none;
	    font-family: noon;
	    font-size: 25px;
	    line-height: 80px;
	    color: #483A34;
	    background-image: url('book.svg');
	    background-repeat: no-repeat;
	    background-position: 0px 0px;
	    background-size: 150px;
	}
	
	.ayat a:hover {
	    color: yellow;
	    text-shadow: 1px 1px 2px #000;
	    background-image: url('bookh.svg');
	}
	
	h2 {
	    font-weight: 400;
	}
	
	.about {
	    display: block;
	    background-color: #fff;
	    padding: 50px 20%;
	}
	
	.about {
	    font-family: noon;
	    font-size: 25px;
	    text-align: right;
	}
	
	.download {
	    display: block;
	    background-color: #f3f3f3;
	    padding: 50px 20%;
	}
	
	.download ul {
	    margin: 20px;
	}
	
	.download ul li {
	    margin-top: 10px;
	}
	
	.downloadLink {
	    display: block;
	    padding: 10px 20px;
	    border: 1px solid #a3a3a3;
	    background-color: #42bcbc;
	    color: #fff;
	    width: 180px;
		text-align: center;
		font-family: GanjNamehSansWeb;
	    border-radius: 10px;
	    margin: 0px auto;
	    box-shadow: 2px 4px 2px #ccc;
	}

		.downloadLink:hover{
			color:#f9ff0e;
			background-color: #369090;
				    border: 1px solid #eee;
		}
	
	#vplayer {
	    width: 600px;
	    height: 400px;
	    border: 1px solid #ccc;
	    margin: 0 auto;
        background: #666;
        text-align: center;
        display: block;
        color: #fff;
        vertical-align: middle;
        	    font-family: LalezarWeb;
                font-weight: 400;
                font-size: 25px;
	}
	
	#fontstore-box {
	    background: #f3f3f3;
	    padding: 70px 0 20px 0;
	}
	
	#fontstore-box .logo {
	    width: 350px;
	    display: block;
	    margin: 0 auto;
	}
	
	#fontstore-box .logoText {
	    display: block;
	    text-align: center;
	    font-family: GanjNamehSansWeb;
	    font-size: 17px;
	    line-height: 1;
	}
	
	#fontstore-box .fontStore-social-icon {
        font-family: GanjNamehSansWeb;
        
        direction: ltr;
        text-align: center;
        margin: 50px auto 0;
    }

	#fontstore-box .fontStore-social-icon a{
               font-size: 35px;
               margin: 10px;
           color: #656565;
}            

	#fontstore-box .fontStore-social-icon a:hover{
        color:#D34E79;
    }



	.backBTT{
		position: fixed;
		top: 0;
		right: 20px;
		box-shadow: 1px 1px 5px #aaa;
		display: block;
		background-color: #e13b27;
		color:#fff;
		border-radius: 0px 0px 5px 5px;
		padding:5px 15px;
			    text-align: center;
	    font-family: GanjNamehSansWeb,tahoma;
	    font-size: 15px;
	}