	@font-face {
		font-family: 'noon';
		src: url('Noon.ttf');
		font-weight: normal;
	}
    
    
body{
  margin:0px;
 
}

section{
     width:50%;
     margin:0 auto;
  font-size:27px;
  direction:rtl;
  text-align:center;
  font-family:noon;
}